[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
scipy = "*"
networkx = "==2.*"
empiricaldist = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
nb = "jupyter notebook"
